<ion-menu side="start" menuId="wikiMenu" contentId="main-wiki" type="overlay">
	<ion-header>
		<ion-toolbar color="primary">
			<ion-title>Wiki Examples</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<ion-item button (click)="go('wiki/layout')">
				<ion-label>Layout</ion-label>
			</ion-item>
			<ion-item button (click)="set('LOADER')">
				<ion-icon name="reload-circle-outline" slot="start"></ion-icon>
				<ion-label>Loader</ion-label>
			</ion-item>
			<ion-item button (click)="go('wiki/kit')">
				<ion-label>Kit</ion-label>
			</ion-item>
			<ion-item button (click)="go('wiki/ki')">
				<ion-label>KitIonic</ion-label>
			</ion-item>
			<ion-item button (click)="go('wiki/rest')">
				<ion-label>Rest</ion-label>
			</ion-item>
			<ion-item button (click)="go('wiki/shared')">
				<ion-label>Shared</ion-label>
			</ion-item>
			<ion-item button (click)="go('wiki/form')">
				<ion-label>Form</ion-label>
			</ion-item>
			<ion-item button (click)="go('wiki/modules')">
				<ion-label>Modules</ion-label>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-menu>

<div id="main-wiki">
	<ddc-app-loading *ngIf="view === 'LOADER'"></ddc-app-loading>
</div>
