<ddc-app-ki-upload-file
	#uploadFile
	[id]="'file_' + id"
	[inputClass]="cssInput"
	[inputStyle]="field.cssStyle"
	[icon]="iconClass"
	[iconColor]="iconColor"
	[maxSize]="maxSize"
	[extensions]="extensions"
	[numMaxFiles]="numMaxFiles"
	[multiple]="multiple"
	[readonly]="field.formControl.disabled"
	(emitFiles)="onAddFiles($event)"
	(emitError)="onError($event)"
	[errorClass]="'input-invalid-message'"
	[showErrors]="true"
	[classCleanFiles]="'listfiles-trash-button'"
	[infoClass]="'listfiles'"
	[closeItem]="closeItem"
	[deleteItems]="deleteItems"
>
	<div input-bottom>
		<ddc-app-input-messages
			[supportMessages]="field.supports"
			[errorMessages]="errorMessages"
			[validMessages]="validMessages"
		></ddc-app-input-messages>
	</div>
</ddc-app-ki-upload-file>
