<ion-text>
	<h1>Buttons</h1>

	Ci sono due modi di usarlo: <br />
	1 - usare il componente <strong>button</strong> con la proprietà <strong>ion-button</strong><br />
	1 - usare il componente <strong>ion-button</strong> con la proprietà
	<strong>expand, fill, shape, size</strong><br />
</ion-text>

<ion-button class="ion-margin" color="primary">Primary</ion-button>
<ion-button class="ion-margin" color="secondary">Secondary</ion-button>
<ion-button class="ion-margin" color="tertiary">Tertiary</ion-button>
<ion-button class="ion-margin" color="success">Success</ion-button>
<ion-button class="ion-margin" color="warning">Warning</ion-button>
<ion-button class="ion-margin" color="danger">Danger</ion-button>
<ion-button class="ion-margin" color="light">Light</ion-button>
<ion-button class="ion-margin" color="medium">Medium</ion-button>
<ion-button class="ion-margin" color="dark">Dark</ion-button>

<ion-text>
	<h2>Outline</h2>
	button ion-button outline<br />
	ion-button fill="outline"<br />
</ion-text>

<ion-button class="ion-margin" fill="outline" color="primary">Primary</ion-button>
<ion-button class="ion-margin" fill="outline" color="secondary">Secondary</ion-button>
<ion-button class="ion-margin" fill="outline" color="tertiary">Tertiary</ion-button>
<ion-button class="ion-margin" fill="outline" color="success">Success</ion-button>
<ion-button class="ion-margin" fill="outline" color="warning">Warning</ion-button>
<ion-button class="ion-margin" fill="outline" color="danger">Danger</ion-button>
<ion-button class="ion-margin" fill="outline" color="light">Light</ion-button>
<ion-button class="ion-margin" fill="outline" color="medium">Medium</ion-button>
<ion-button class="ion-margin" fill="outline" color="dark">Dark</ion-button>

<ion-text>
	<h2>Clear</h2>
	button ion-button clear<br />
	ion-button fill="clear"<br />
</ion-text>

<ion-button class="ion-margin" fill="clear" color="primary">Primary</ion-button>
<ion-button class="ion-margin" fill="clear" color="secondary">Secondary</ion-button>
<ion-button class="ion-margin" fill="clear" color="tertiary">Tertiary</ion-button>
<ion-button class="ion-margin" fill="clear" color="success">Success</ion-button>
<ion-button class="ion-margin" fill="clear" color="warning">Warning</ion-button>
<ion-button class="ion-margin" fill="clear" color="danger">Danger</ion-button>
<ion-button class="ion-margin" fill="clear" color="light">Light</ion-button>
<ion-button class="ion-margin" fill="clear" color="medium">Medium</ion-button>
<ion-button class="ion-margin" fill="clear" color="dark">Dark</ion-button>

<ion-text>
	<h2>Round</h2>
	button ion-button round<br />
	ion-button shape="round"<br />
</ion-text>

<ion-button class="ion-margin" shape="round" color="primary">Primary</ion-button>
<ion-button class="ion-margin" shape="round" color="secondary">Secondary</ion-button>
<ion-button class="ion-margin" shape="round" color="tertiary">Tertiary</ion-button>
<ion-button class="ion-margin" shape="round" color="success">Success</ion-button>
<ion-button class="ion-margin" shape="round" color="warning">Warning</ion-button>
<ion-button class="ion-margin" shape="round" color="danger">Danger</ion-button>
<ion-button class="ion-margin" shape="round" color="light">Light</ion-button>
<ion-button class="ion-margin" shape="round" color="medium">Medium</ion-button>
<ion-button class="ion-margin" shape="round" color="dark">Dark</ion-button>

<ion-text>
	<h2>Block</h2>
	button ion-button block<br />
	ion-button expand="block"<br />
</ion-text>

<ion-button class="ion-margin" expand="block" color="primary">Primary</ion-button>
<ion-button class="ion-margin" expand="block" color="secondary">Secondary</ion-button>
<ion-button class="ion-margin" expand="block" color="tertiary">Tertiary</ion-button>
<ion-button class="ion-margin" expand="block" color="success">Success</ion-button>
<ion-button class="ion-margin" expand="block" color="warning">Warning</ion-button>
<ion-button class="ion-margin" expand="block" color="danger">Danger</ion-button>
<ion-button class="ion-margin" expand="block" color="light">Light</ion-button>
<ion-button class="ion-margin" expand="block" color="medium">Medium</ion-button>
<ion-button class="ion-margin" expand="block" color="dark">Dark</ion-button>

<ion-text>
	<h2>Full</h2>
	button ion-button full<br />
	ion-button expand="full"<br />
</ion-text>

<ion-button class="ion-margin" expand="full" color="primary">Primary</ion-button>
<ion-button class="ion-margin" expand="full" color="secondary">Secondary</ion-button>
<ion-button class="ion-margin" expand="full" color="tertiary">Tertiary</ion-button>
<ion-button class="ion-margin" expand="full" color="success">Success</ion-button>
<ion-button class="ion-margin" expand="full" color="warning">Warning</ion-button>
<ion-button class="ion-margin" expand="full" color="danger">Danger</ion-button>
<ion-button class="ion-margin" expand="full" color="light">Light</ion-button>
<ion-button class="ion-margin" expand="full" color="medium">Medium</ion-button>
<ion-button class="ion-margin" expand="full" color="dark">Dark</ion-button>

<ion-text>
	<h2>Size</h2>
	button ion-button small<br />
	ion-button size="small"<br />
</ion-text>

<ion-button class="ion-margin" color="primary">Default</ion-button>
<ion-button class="ion-margin" color="primary" size="small">Small</ion-button>
<ion-button class="ion-margin" color="primary" size="default">Medium</ion-button>
<ion-button class="ion-margin" color="primary" size="large">Large</ion-button>
