<ion-text>
	<h1>Modulo localesystem</h1>
</ion-text>

<ion-list>
	<ion-item button (click)="set('LANGUAGES')">
		<ion-label>Componente lingue</ion-label>
	</ion-item>
	<ion-item button (click)="set('NATIONS')">
		<ion-label>Componente nazioni</ion-label>
	</ion-item>
	<ion-item button (click)="set('MULTILANGUAGE')">
		<ion-label>Componente multilingua</ion-label>
	</ion-item>
	<ion-item button (click)="set('ADDRESS')">
		<ion-label>Componente address</ion-label>
	</ion-item>
</ion-list>

<div *ngIf="view" class="ion-padding-vertical">
	<wiki-test-app-languages *ngIf="view === 'LANGUAGES'"></wiki-test-app-languages>
	<wiki-test-app-nations *ngIf="view === 'NATIONS'"></wiki-test-app-nations>
	<wiki-test-input-multilanguage *ngIf="view === 'MULTILANGUAGE'"></wiki-test-input-multilanguage>
	<wiki-test-input-address *ngIf="view === 'ADDRESS'"></wiki-test-input-address>
</div>
