<ion-text>
	<h1>Toggle</h1>
</ion-text>

<ion-list>
	<ion-item>
		<ion-label>Primary</ion-label>
		<ion-toggle slot="start" name="blueberry" checked></ion-toggle>
	</ion-item>

	<ion-item>
		<ion-label>Secondary</ion-label>
		<ion-toggle slot="start" name="apple" color="secondary" checked></ion-toggle>
	</ion-item>

	<ion-item>
		<ion-label>Tertiary</ion-label>
		<ion-toggle slot="start" name="grape" color="tertiary" checked></ion-toggle>
	</ion-item>

	<ion-item>
		<ion-label>Success</ion-label>
		<ion-toggle slot="start" name="kiwi" color="success" checked></ion-toggle>
	</ion-item>

	<ion-item>
		<ion-label>Warning</ion-label>
		<ion-toggle slot="start" name="banana" color="warning" checked></ion-toggle>
	</ion-item>

	<ion-item>
		<ion-label>Danger</ion-label>
		<ion-toggle slot="start" name="cherry" color="danger" checked></ion-toggle>
	</ion-item>

	<ion-item>
		<ion-label>Light</ion-label>
		<ion-toggle slot="start" name="banana" color="light" checked></ion-toggle>
	</ion-item>

	<ion-item>
		<ion-label>Medium</ion-label>
		<ion-toggle slot="start" name="cantaloupe" color="medium" checked></ion-toggle>
	</ion-item>

	<ion-item>
		<ion-label>Dark</ion-label>
		<ion-toggle slot="start" name="blackberry" color="dark" checked></ion-toggle>
	</ion-item>
</ion-list>
