<ion-text>
	<h1>Colors</h1>
</ion-text>

<ion-text class="ion-margin" color="primary">Primary</ion-text>
<ion-text class="ion-margin" color="secondary">Secondary</ion-text>
<ion-text class="ion-margin" color="tertiary">Tertiary</ion-text>
<ion-text class="ion-margin" color="success">Success</ion-text>
<ion-text class="ion-margin" color="warning">Warning</ion-text>
<ion-text class="ion-margin" color="danger">Danger</ion-text>
<ion-text class="ion-margin" color="light">Light</ion-text>
<ion-text class="ion-margin" color="medium">Medium</ion-text>
<ion-text class="ion-margin" color="dark">Dark</ion-text>
